doctype html 
html 
    head 
        title Dance Academy
        style 
            include ../static/style2.css
        
    body    
        nav#navbar
            ul  
                li #[a(href="") Home ]
                li #[a(href="") Services ]
                li #[a(href="") Class info ]
                li #[a(href="") About ]
                li #[a(href="") Contact Us ]

    section#introSection    
        div Welcome to Dance Academy
        div.small Lets goo

    //- section#missionSection 
    //-     h2 Our Misson

    section#sponserSection 
        h2 Our Sponsers
        
            div.boxes

                div.box1 
                    h3 Join fast
                //- img(src="", alt="")

                div.box2 
                    h3 Join fast
                //- img(src="", alt="")

                div.box3 
                    h3 Join fast
                //- img(src="", alt="")

    footer#footer 
        | | copyright © 2023 DanceAcademy.com | all rights reserved
        p 
        script 
            include ../static/index2.js 